
.backgr{
position:absolute;
width:100%;
height:100%;
}
.witcher{
position:fixed;
top:5%;
left:8.5%;
height:23%;
width:18%;
}
button{
width:17.5%;
height:6%;
background:none;
border:none;
color:#b6b6b6;
font-family:Arial;
}
button:hover{
border:5px double #b6b6b6;
}
form{
position:fixed;
top:35%;
left:8.5%;
width:100%;
height:100%;
}
.addons{
position:fixed;
top:70%;
left:8.5%;
width:18%;
height:26%;
}

.backgr2{
position:absolute;
width:100%;
height:100%;
}
.wolf{
position:fixed;
top:2%;
width:30%;
height:25%;
}
.hud{
position:fixed;
top:4%;
left:72%;
width:25%;
height:30%;
}
.form2{
position:fixed;
top:73%;
left:2%;
background:none;
color:#b6b6b6;
font-family:Arial;
font-size:14px;
width:30%;
height:15%;
border:5px double #757223;
}
input{
position:fixed;
top:94%;
left:2%;
height:5%;
border:5px double #black;
background:black;
color:#b6b6b6;
}
.main-menu{
  display:inline-block;
  list-style:none;
}

a{
text-decoration:none;
font-family:Consolas;
color:#5757a0;
padding:10px 20px;
}


body{
background-color:green;
}